
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Top{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}





nav{
    background: rgba(0, 0, 0, 0.3);

}

nav ul li a{
    color: white;
}

nav ul li{
    margin-left: 2rem;
}

nav ul li:hover{
    background: orange;
    color: white;
   
}

.icons i{
    color: white;
    margin-right: 1.5rem;
}


.num{
    border: 2px solid yellow;
    margin-top: 1rem;
    border-radius: 20px;
    width: auto;
    color: yellow;
}


.rr{
  padding-top: 11rem;
    font-size: 90px;

   
}


.text-2{
    background: rgba(0, 0, 0, 0.3);
    color: rgb(21, 255, 0);
    

}

.extra{
    font-size: 15px;
}

.top2 section{

    margin-left: 3rem;
}

.fc img{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: ;
}


.first{
    margin-top: -1rem;
}

.up{
    margin-top: 1rem ;
    font-size: 30px;
}


.fc .row{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: auto;
}


.price{
    font-size: 25px;
}


.ex{
    font-size: 13px;
}

.tt{
    color:orange;
    font-weight: bold;
    font-size: 30px;
}

.tt2{
    font-size: 60px;
}


.mi{
    border-radius: 30px;
    width: 300px;
    margin-left: -9rem;
    margin-right: 1.5rem;
    
    
}

.text3{
    margin-top: -10rem;
    margin-left: 5rem;
}

.iii{
    font-size: 30px;
    margin-bottom: -1.5rem;
}

.ren{
    margin-top: -2rem;
    margin-top: 1.5rem;
}

.yu{
    margin-top: -.5rem;
    
}

.on{
    border-radius: 30px;
    margin-top: -2rem;
    margin-bottom: -1rem;
}


.on:hover{
    background-color: transparent;
}





.oni:hover{
    background: transparent;
}


.gape{
    margin-top: 10rem;
}


.pic2{
    height: 300px;
    width: 300px;
    margin-left: 1rem;
    margin-top: -20rem;
}


.pic1{
    height: 450px;
    width: 350px;
    margin-top: -3rem;
    margin-left: -4rem;
}

.difer{
    color: rgb(143, 119, 119);
    margin-top: 3rem;
}


.happy img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-top: 25px;
}

.happy i{
    color: yellow;
}


.happy{
    margin-left: 3rem;
    margin-top: 5rem;
}

.happy h5{
    margin-left: 20px;
}


.isl{
    background: rgb(196, 177, 142);
}

.upt h1{
    margin-top: 2rem;
}

.upt p{
    margin-top: 2rem;
}

.rah{
    margin-left: 6rem;
}

.cls{
   margin-left: 15px;
   margin-top: -1rem;
   color: rgb(168, 143, 147);
}

.num2{
    margin-top: -1rem;
}

.pi{
    color: rgb(168, 143, 147);
}

input{
    width: 15rem;
    margin-left: -3rem;
    height: 2.5rem;
    border-radius: 30px;
}


.eng .btn{
    margin-left: -60px;
    border-radius: 30px;
    height: 2.5rem;
    margin-right: -3rem;
}

.stw{
    margin-top: 1.5rem;
    font-size: 20px;
    margin-left: -2rem;
}

.eng .btn:hover{
    background: transparent;
}


.icons2{
    margin-left: -3rem;
    padding: 4rem;
}

.icons2 i{
    padding: 15px;
    border: 3px dotted yellow;
    margin-left: 2rem;
    border-radius: 30px;
    color:rgb(206, 180, 180);
    font-size: 20px;
}

.icons2 i:hover{
    background-color: orange;
}

.nich{
    margin-bottom: -4.5rem;
    margin-top: .5rem;
    font-weight: bold;
}


.what{
    width: 2050;
}


.llo{
    font-size: 40px;
}